
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            
            <div>QUẢN LÝ SẢN PHẨM
                
            </div>
        </div>
        <div class="page-title-actions">
            <button type="button" data-toggle="tooltip" title="" data-placement="bottom" class="btn-shadow mr-3 btn btn-dark" data-original-title="Example Tooltip">
                <i class="fa fa-star"></i>
            </button>
            <div class="d-inline-block dropdown">
                
                <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link">
                                <i class="nav-link-icon lnr-inbox"></i>
                                <span> Inbox</span>
                                <div class="ml-auto badge badge-pill badge-secondary">86</div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                                <i class="nav-link-icon lnr-book"></i>
                                <span> Book</span>
                                <div class="ml-auto badge badge-pill badge-danger">5</div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                                <i class="nav-link-icon lnr-picture"></i>
                                <span> Picture</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a disabled="" class="nav-link disabled">
                                <i class="nav-link-icon lnr-file-empty"></i>
                                <span> File Disabled</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>    </div>
</div>
<div style="margin: 0 25
px
;" class="main-card mb-3 card">
    <div class="card-body">
        <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
            <thead>
            <tr>
                <th>STT</th>
                <th>Tên sản phẩm</th>
                <th>Hình ảnh</th>
                <th>Giá</th>
                <th>Mô tả</th>
                <th>Hành động</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let i of items; let a= index">
                <td>{{a+1}}</td>
                <td>{{i.iteM_NAME}}</td>
                <td>{{i.iteM_IMAGE}}</td>
                <td>{{i.iteM_PRICE}}</td>
                <td>{{i.iteM_DESCRIPTION.substring(0,30)}}...</td>
                <td>
                    <button class="mb-2 mr-2 btn btn-primary">Thêm<span class="badge badge-secondary badge-dot badge-dot-lg"> </span></button>
                    <button class="mb-2 mr-2 btn btn-warning">Sửa<span class="badge badge-secondary badge-dot badge-dot-lg"> </span></button>
                    <button class="mb-2 mr-2 btn btn-danger">Xóa<span class="badge badge-secondary badge-dot badge-dot-lg"> </span></button>
                </td>
            </tr>
            
            </tbody>
            <tfoot>
            <tr>
                <th>STT</th>
                <th>Tên sản phẩm</th>
                <th>Hình ảnh</th>
                <th>Giá</th>
                <th>Mô tả</th>
                <th>Hành động</th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>